{% extends 'index.html' %}
{% block title %}Training - ReLu Project {% endblock %}
{% block content %}

    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center pt-5 pb-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Hello {{session['name']}}</h6>
              <p class="text-white">
                Your project title is : <strong>{{ _pname }}</strong>.<br>
                and the process was already finished. Enjoy ReLu
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <div id="forma" class="card-body text-center">
              <div class="mt-3 mb-4">
                <h3>Your data distribution and normal plot</h3>
              </div>
              <div class="row text-center mb-4">
                <div class="col-md-6">
                  <img src="static/images/{{nb}}" width="90%">
                  <p><small>Data Distribution</small></p>
                </div>
                <div class="col-md-6">
                  <img src="static/images/{{np}}" width="90%">
                  <p><small>Normal Box Plot</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="forma" class="card-body text-center">
              <div class="mt-3 mb-4">
                <h3>Your data vs predicted result (by ReLu)</h3>
              </div>
              <div class="row text-center mb-4">
                <div class="col-md-6">
                  <img src="static/images/{{pr}}" width="90%">
                  <p><small>Real Data</small></p>
                </div>
                <div class="col-md-6">
                  <img src="static/images/{{ph}}" width="90%">
                  <p><small>Predicted by ReLu</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="forma" class="card-body text-center">
              <div class="mt-3 mb-4">
                <h3>Your accuration is : {{acc}}</h3>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="forma" class="card-body text-center">
              <div class="mt-3 mb-4">
                <h3>Confusion Matrix :</h3>
              </div>
              <div class="mb-4">
                <pre>{{cm}}</pre>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="forma" class="card-body text-center">
              <div class="mt-3 mb-4">
                <h3>Clasification Report :</h3>
              </div>
              <div class="mb-4">
                <pre>{{report}}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
