{% extends 'index.html' %}
{% block title %}Pre Processing - ReLu Project {% endblock %}
{% block content %}

    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center pt-5 pb-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Hello {{session['name']}}</h6>
              <p class="text-white">
                Your project title is : <strong>{{ _pname }}</strong>.
                Happy preparation :)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Upload your pre-processing ready data with label</h3>
            </div>
            <div id="processa" class="d-none">
              <div class="pt-3 py-4">
                <div class="text-center pb-3" style="width: 100%; max-width: 500px; margin: auto;">
                  <h3>Wait a Minute</h3>
                  <p><small>
                    Your Data is Under Checking
                    Please dont close the window or your machine (your laptop / computer) will be crash for ever after haha.
                  </small></p>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
              </div>
            </div>
            <div id="forma" class="card-body">
              <form role="form" action="/upload" method="POST" enctype ="multipart/form-data">
                <input type="text" name="inputFrom" class="form-control" value="prepo" hidden>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="custom-file">
                      <label class="form-control-label">Your Data</label>
                      <input type="file" name="filela" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="mt-6">
                  <h3>Catatan penting sebelum mengupload dokumen:</h3>
                  <p>
                    <small>
                      Harap baca <strong>petunjuk</strong> pengunggahan dokumen <strong>dibawah ini</strong>, sebelum menguploadnya. Dokumen yang tidak sesuai
                      dengan ketentuan akan menyebabkan laptop kamu menjadi crash, blue screen, gangguan
                      depresi jangka panjang, tidak lulus skripsi tepat waktu, dan secara harfiah mengganggu
                      stabilitas mental anda.
                    </small>
                  </p>
                </div>
                <div class="row pt-4">
                  <div class="col-lg-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id=" customCheckLogin" type="checkbox" required>
                      <label class="custom-control-label" for=" customCheckLogin">
                        <span class="text-default">Saya sudah membaca dan menyetuji petunjuk dibawah ini</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mt-5">
                  <button id="submit_prepo" type="submit" class="btn btn-primary">Upload Data</button>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-default">Petunjuk</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Petunjuk pengunggahan dokumen :</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
              <small>
              <ol class="pl-3">
                <li>
                  Jika kamu menggunakan data crawling yang di crawling menggunakan platform kami,
                  maka format dokumen tersebut sudah sesuai. Kamu hanya perlu menghapus kolom nimor, menambahkan kolom
                  'label' dan memberikan label secara manual. Jika kamu meng-crawling data sendiri,
                  maka pastikan kamu membaca sampai habis.
                </li>
                <li>
                  File yang kamu upload <strong>harus ber-ekstensi .xlsx (Ms Excel)</strong>. Format lain seperti: csv, txt, pdf, spss,
                  dll tidaka akan diterima.
                </li>
                <li>
                  Dalam dokumen kamu, hanya boleh ada 2 kolom, yaitu kolom <strong>'tweet'</strong> dan <strong>'label'</strong>.
                  Judul kolom harus sama persis dan idak boleh ada kolom lain.
                </li>
                <li>
                  Pastikan kamu menghapus semua baris yang sebagian besar tidak menggunakan bahasa Indonesia.
                  Karena itu akan membuat ReLu bingung. Kecuali bahasa serapan dan bahasa gaul.
                </li>
                <li>
                  Dokumen yang tidak sesuai dengan aturan diatas, akan menyebabkan laptop atau komputer kamu mengalami crash,
                  blue screen, dan menyebabkan kamu depresi berkepanjangan dan tak jarang berakhir dengan bunuh diri atau
                  seminimalnya tidak lulus sidang skripsi.
                </li>
                <li>
                  Kamu bisa download contoh dokumen standar ReLu <a href="https://storage.cloud.google.com/haloryan_buck/file/reluready.xlsx?authuser=1&folder=true&organizationId=true" class="text-red"><strong>disini</strong></a>
                </li>
                <li>
                  Dokumen yang tidak sesuai ketentuan akan menyebabkan proses pembelajaran mesin menjadi terganggu dan
                  laptop kamu akan mengalami crash jangka panjang, blue screen, dan kerusakan bagian internal.
                  Dalam beberapa kasus dapat menyebabkan depresi ringan bagi penggunanya dan tak jarang berakhir dengan
                  dropout dari kampus.
                </li>
                <li>
                  Kamu bisa contact kami via WA jika ada yang ingin ditanyakan lagi
                </li>
              </ol>
              </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <script>
      (function($){
        $(function(){

          $("#submit_prepo").on("click", function(event) {
            $('#forma').attr('class', 'd-none');
            $('#processa').attr('class', 'card-body');
          });

        });
      })(jQuery);
    </script>

{% endblock %}
